body {
    font-family: 'Rowdies', cursive;
}

header {
    padding: 15px;
    background-color: rgb(136, 199, 241);
}

/*(display: block) shows content, (display: none) hides content 
Resource: https://www.washington.edu/accesscomputing/webd2/student/unit5/module2/lesson5.html*/
div.startPage {
    display: block;
}

div.questionPage {
    display: none;
}

div.finalPage {
    display: none;
}

div.highScorePage {
    display:none;
}
